bcbio-gff==0.6.6
biopython==1.79
cvxpy==1.1.14
Cython==0.29.22
dataclasses==0.8
dill==0.3.3
ecos==2.0.7.post1
intervaltree==3.1.0
numpy==1.19.5
osqp==0.6.2.post0
pandas==1.1.5
psutil==5.8.0
pysam==0.16.0.1
python-dateutil==2.8.1
pytz==2021.1
qdldl==0.1.5.post0
qpsolvers==1.4
qpth==0.0.15
quadprog==0.1.8
scipy==1.5.4
scs==2.1.4
six==1.16.0
sortedcontainers==2.3.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cpu
typing-extensions==3.10.0.0
